<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="supplier_listing_grid_data_source" xsi:type="string">
                    Abhinay\Supplier\Model\ResourceModel\Supplier\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Abhinay\Supplier\Model\ResourceModel\Supplier\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">supplier</argument>
            <argument name="resourceModel" xsi:type="string">Abhinay\Supplier\Model\ResourceModel\Supplier\Collection
            </argument>
        </arguments>
    </virtualType>
</config>


