<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Customer::manage_supplier" title="Manage Supplier" translate="title" module="Abhinay_Supplier"
             sortOrder="15" parent="Magento_Customer::customer" action="supplier/supplier/index"
             resource="Abhinay_Supplier::manage"/>
    </menu>
</config>
